@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #EDEAE9;
}

html {
    height: 100%;
}

div.header {
    width: 100%;
    text-align: center;
    background: #45521F;
    height: auto;
}

img {
    position: relative;
    top: 35px;
    width: 300px;
    background: #45521F;
}

nav {
    position: relative;
    top: 50px;
    background: #7c3200;
    height: 55px;
    line-height: 60px;
}

ul {
    background: #7c3200;
}

li {
    display: inline-block;
    width: 24%;
    font-size: 25px;
    text-align: center;
    background: #7c3200;
}

li a {
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    background: #7c3200;
}
/* INFORMATIONS USER */
h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    background: white;
}
h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    background: white;
    font-weight: normal;
}

div.main {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 75px;
    width: 85%;
    min-height: 100%;
    background: white;
}

div.main p {
    font-family: 'Roboto Slab', serif;
    background: white;
    margin-left: 5%;
    font-size: 25px;
    text-align: justify;
}

form {
    height: 100%;
    background: white;
}
table {
    width: 100%;
    height: 500px;
    background: white;
}

p.label {
    font-size: 20px;
    background: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

tr {
    background: white;
}

td {
    width: 50%;
    height: auto;
    background: white;
}

td.avecTextarea {
    height: 300px;
}

textarea {
    display: block;
    margin: 0 auto;
    resize: none;
    width: 85%;
    height: 35%;
    border-radius: 10px;
    background: white;
    outline: none;
    padding: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    border: 1px solid black;
}
input {
    margin-left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 150px;
    height: 25px;
    border: 2px solid black;
}
input.zoneText {
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    outline: none;
    padding: 15px;
    width: 85%;
}

form button {
    display: block;
    margin: 0 auto;
    border: none;
    background: green;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
    cursor: pointer;
}
span.aide {
    color: red;
    background: white;
}
/* EXPERIENCE */
h1.liste {
    text-align: center;
}
div.liste {
    background: white;
    margin: 0 auto;
    width: 90%;
}
div.liste p.information {
    text-align: center;
}
div.liste p.nouvelleInformation {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
div.liste p.information:hover,p.nouvelleInformation:hover {
    cursor: pointer;
    text-decoration: underline;
}
